{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'shop:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'shop:home' %}">Products</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        {% for mess in messages%}
                                        <center style="color:'red'">{{mess}}</center>
                                        {% endfor %}
                                        <h4 style = "font-weight:bold; float:right;">
                                            <button class = "btn"><a class='fas fa-angle-double-right' style = "color:blue; font-weight:bold; " href = "{% url 'shop:home' %}">
                                                Continue Shopping</a></button>
                                            </h4>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% if my_cart %}
                                    {% for cart in my_cart %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="{% url 'shop:item_detail' cart.items.slug %}"><img src="{{cart.items.image.url}}" alt="Image"></a>
                                                    <p>{{cart.items.name}}</p>
                                                </div>
                                            </td>
                                            {% if cart.items.discounted_price > 0 %}
                                            <td>Rs{{cart.items.discounted_price}}</td>
                                           {% else %}
                                            <td>Rs{{cart.items.price}}</td>
                                            {% endif %}
                                            <td>
                                                <div class="qty">
                                                    <a href="/cart/dec_cart/{{cart.items.slug}}"><button class="btn-minus"><i class="fa fa-minus"></i></button></a>
                                                    <input type="text" value="{{cart.quantity}}">
                                                    <a href="/cart/increase_cart/{{cart.items.slug}}"><button class="btn-plus"><i class="fa fa-plus"></i></button></a>
                                                </div>
                                            </td>
                                            <td>Rs. {{cart.total}}</td>
                                            <td> <a href="/cart/delete_cart/{{cart.items.slug}}"><button><i class="fa fa-trash"></i></button> </a></td>
                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                            <td colspan="5" style="color: red; font-weight: bold;">Your Shopping Cart is empty
                                            <a class='fas fa-angle-double-right' href="{% url 'shop:home' %}" style="font-weight: bold; color:rgb(36, 4, 152); font-size: 1.3em; border: 2px solid lightgray;">Add Products </a></td>
                                            {% endif%}
                                    

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                                
                                <div class="col-md-12">
                                    
                                    {% if my_cart %}
                                    <div class="cart-summary">
                                       
                                        <div class="cart-content">
                                            
                                            <h1>Cart Summary</h1>
                                            <p>Sub Total<span>Rs.{{total}}</span></p>
                                            <p>Shipping Cost<span>RS.0</span></p>
                                            <h2>Grand Total<span>Rs.{{grand_total}}</span></h2>
                                        </div>
                                        <!-- {% comment %} {% endfor%} {% endcomment %} -->
                                        <div class="cart-btn" style="display: flex;">
                                            <button class = "d-inline"><a href = "{% url 'shop:home' %}">Update Cart</a></button>
                                            <a href="{% url 'cart:checkout'%}"><button class="d-inline" style="width: 150%;">Checkout</button></a>
                                            
                                        </div>
                                       
                                    </div>
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->
        
      {% endblock %}