{% extends 'base.html' %}
{% load static %}       
{% block content %}
        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <h3 style = "font-weight:bold; float:right;">
                                            <button class ="btn"><a class='fas fa-angle-double-right' style = "color:blue; font-size:20px; " href = "{% url 'shop:home' %}">
                                                Add Another Product</a></button>
                                            </h3>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Add to Cart</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% if mywish %}
                                        {% for wish in mywish %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="{{wish.items.image.url}}" alt="Image"></a>
                                                    <p>{{wish.items.name}}</p>
                                                </div>
                                            </td>
                                            <td>{{wish.items.price}}</td>
                                            <td>
                                                {{wish.quantity}}
                                                {% comment %} <div class="qty">
                                                    <!-- <button class="btn-minus"><a href="{% url 'cart:wish-list-dec' wish.slug %}"><i class="fa fa-minus"></i></a></button> 
                                                    <input type="text" value="{{wish.quantity}}">
                                                    {% comment %} <p> {{wish.quantity}}</p> {% endcomment %}
                                                    <!-- <button class="btn-plus"><a href="{% url 'cart:wish-list-inc' wish.slug %}"><i class="fa fa-plus"></i></a></button> -->
                                                {% comment %} </div> {% endcomment %}  
                                            </td>
                                            <td><a href="{% url 'cart:add-to-cart' wish.slug %}" style="text-decoration: none;"><button class="btn-cart">Add to Cart </button></a></td>
                                            <td><a href="{% url 'cart:wish-list-del' wish.slug %}"><button><i class="fa fa-trash"></i></button></a></td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <td colspan="5">
                                        <h4 style="font-weight: bold; color:red;"> Your Wishlist is Empty
                                        <a class='fas fa-angle-double-right' style=" font-size: 0.9em; color:blue;" href="{% url 'shop:home' %}"> Add Product In Wishlist</a> 
                                    </h4>
                                        {% endif %}
                                    </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wishlist End -->
        
    {% endblock content %}