 /* footer css */

 .footer-sm-12{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: #cd4611;
    color: white;
    height: 60vh;
    justify-content: space-evenly;
    margin-top:30px;
 }

 .column-sm-20{
    margin-top: 40px;
    /* margin-right: 20px; */
 }

 .column-sm-20 h3{
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 3px;
 }
 .column-sm-20 ul{
    list-style: none;
    font-size: 15px;
 }

 .business-soln-sm-20{
    margin-top: 20px;
 }

 .column-sm-20 img{
height: 30px;
width: 100px;
 }

 .connect-12{
    margin-top: 60px;
 }
 #facebook{
    background: #3B5998;
    border-radius: 5px;
    height: 20px;
    width: 25px;
    margin: 2px;
    text-align: center;
    color: white;
  }

  .fa-instagram {
    border-radius: 5px;
    height: 20px;
    width: 25px;
    margin: 2px;
    background: #125688;
    text-align: center;
    color: white;
  }
  .fa-linkedin {
    border-radius: 5px;
    height: 20px;
    width: 25px;
    margin: 2px;
    background: #007bb5;
    text-align: center;
    color: white;
  }

  .fa-twitter {
    border-radius: 5px;
    height: 20px;
    width: 25px;
    margin: 2px;
    background: #55ACEE;
    text-align: center;
    color: white;
  }

  .fa-youtube {
    border-radius: 5px;
    height: 20px;
    width: 25px;
    margin: 2px;
    background: #bb0000;
    text-align: center;
    color: white;
  }

 .footer-txt-sm-12{
    height: 40px;
    color: white;
    /* background-color: #1b053a; */
    text-align: center;
 }
